<main>
    <div>
        <input type="button" id="sendMessage" value="Send" onclick="invokeMethod()" />
    </div>
    <label class="progress-label"></label>
    <span class="progress-percent"></span>
    <div id="progressbar">
    </div>
</main>